<!-- Main slider section -->
<section class="main-section">
    <app-main-slider></app-main-slider>
</section>

<!-- Categories slider section -->
<section class="main-section">
    <app-categories-slider></app-categories-slider>
</section>

<!-- Products section -->
<section class="main-section">
    <div class="container-auto">
        <h1 class="text-emerald-500 text-center font-bold text-4xl mb-6">Shop the Best</h1>
        <input [(ngModel)]="fromInput" type="text"
            class="w-1/2 block mx-auto rounded-md p-1 focus:transition-all focus:duration-500 focus:border-2 focus:border-emerald-500 my-3"
            placeholder="Search by name..." name="" id="">
          <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 justify-items-center">
            @for( product of products |search : fromInput; track product._id ){
            <div class="group relative rounded-xl overflow-hidden hover:shadow-xl transition-shadow duration-300 p-4">
                <div [routerLink]="['/p_details', product._id]" class="cursor-pointer">
                    <img [src]="product.imageCover"
                class="w-full max-w-[240px] h-auto object-cover mb-3 rounded-lg transform transition-transform duration-300 group-hover:scale-105"
                     [alt]="product.title">
                    <h2 class="text-emerald-500 font-semibold mb-1">{{product.category.name}}</h2>
                    <h3 class="text-gray-800 font-medium mb-2">{{product.title.split(' ',3).join(' ')}}</h3>
                    <div class="flex justify-between items-center text-gray-700 mb-2 ">
                        <span class="font-bold">{{product.price}}EGP</span>
                        <span class="flex items-center gap-1">
                            <i class="fas fa-star text-yellow-400"></i>{{product.ratingsAverage}}
                        </span>
                    </div>
                    <i class="fa fa-heart absolute top-3 right-3 text-xl cursor-pointer"
                        [ngClass]="product.inWishlist ? 'text-red-600' : 'text-black'"
                        (click)="toggleWishlist(product); $event.stopPropagation()">
                    </i>
                </div>
                <button (click)="addToCart(product._id)"
                    class="main-btn translate-y-[210%] group-hover:translate-y-0 duration-500">Add to Cart</button>
            </div>
            }
        </div>
    </div>
</section>