<div class="main-slider">
    <div class="container-auto">
        <div class="flex flex-wrap">
            <div class="w-full sm:w-full md:w-1/2 lg:w-3/4">
                <owl-carousel-o [options]="myOptions">
                    <ng-template carouselSlide>
                        <img src="./images/img1.avif" class="w-full h-80 object-cover rounded" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img2.avif" class="w-full h-80 object-cover rounded" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img3.avif" class="w-full h-80 object-cover rounded" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img5.avif" class="w-full h-80 object-cover rounded" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="./images/img4.avif" class="w-full h-80 object-cover rounded" alt="">
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="w-full sm:w-full md:w-1/2 lg:w-1/4">
                <img src="./images/banner-4.jpeg" class="w-full block h-40" alt="">
                <img src="./images/grocery-banner-2.jpeg" class="w-full block h-40" alt="">
            </div>
        </div>
    </div>
</div>